__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/
venv/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.log
*.bak
*.swp
.cache/
*.tmp
*.spacy
*.msgpack
*.bin
*.pth
*.pt
*.h5
__pycache__/
.spacy/
transformers_cache/
datasets_cache/
torch_cache/
~$*
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.watchdog_lock
